body {
	background-color: #FCFCFC;
	font-family: "Philosopher";
}

#container {
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
}

#photo-wrap {
	position: relative;
	float: left;
	min-height: 0px;
	width: 512px;
	padding-bottom: 20px;
}

#photo {
	/*max-width:100%;
	max-height:100%;*/
	width: 512px;
}

#comments {
	margin-left: 532px;
	padding-bottom: 20px;
}

@media (max-width: 1111px) {
	#container {
		width: 90%;
		margin: 0 auto;
		padding-top: 20px;
	}
}

@media (max-width: 950px) {
	#container {
		width: 512px;
		margin: 0 auto;
		padding-top: 20px;
	}
	
	#comments {
		clear: left;
		margin: 0;
		width: 512px;
		padding-bottom: 20px;
	}
}

#message-header {
	border-bottom: 2px solid purple; 
	font-size: 20px;
}
.comment {
	min-height: 50px;
	background-color: white;
	padding: 5px;
	border: 1px solid lightgrey;
}

.comment:hover{
    background-color: #F0F2EB ;
}

.active {
	/*background-color:rgba(212,238,94,0.5);*/
	background-color:#E0E0E0;
}

textarea{
	width: 100%;
}
#message{
	width: 100%;
    min-height: 150px;
}

#comments_list{
	width: 100%;
}

.tooltip-inner {
    max-width: 250px;
    width: 250px; 
    text-align: left;
}