body {
	background-color: #FCFCFC;
	font-family: "Philosopher";
}

#container {
	width: 80%;
	margin: 0 auto;
}

#photo-wrap {
	position: relative;
	float: left;
	min-height: 0px;
	width: 55%;
}

#photo {
	max-width:100%;
	max-height:100%;
}

#comments {
	position: relative;
	float:right;
	width: 35%;
}

#message-header {
	border-bottom: 2px solid purple; 
	font-size: 20px;
}
.comment {
	min-height: 50px;
	background-color: white;
	padding: 5px;
	border: 1px solid lightgrey;
}

.comment:hover{
    background-color: #F0F2EB ;
}

.active {
	background-color:rgba(212,238,94,0.5);
}

textarea{
	border: 1px solid rgba(255,66,66,0.8);
	width: 100%;
}
#message{
	width: 100%;
    border: 1px solid rgba(255,66,66,0.8);
    min-height: 150px;
}

#comments_list{
	width: 100%;
}

.tooltip-inner {
    max-width: 250px;
    width: 250px; 
    text-align: left;
}