html{
	height:100%;
}

body{
	height:100%;
	background: #CCC;
	font-family: 'Quattrocento Sans', sans-serif;
}

.not-header{
	height:100%;
}


.r-request:hover{
	background: #f5f5f5;
}

.y-request:hover{
	background: #f5f5f5;
}

.label-bar{
	position: relative;
	width:90%;
	margin-left: auto;
  	margin-right: auto;
  	border: solid 1px #aaaaaa;
	padding:5px;
}

.label-bar:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 10px;
	background: #fff;
	outline: solid 1px #fff;
	box-shadow: 0px 2px 0px #aaaaaa;
	box-sizing: content-box;
	width: 100%;
	display: block;
	content: "";
}

.r-request{
	width:90%;
	margin-left: auto ;
  	margin-right: auto ;
  	border:solid 1px #aaaaaa;
  	padding:5px;
}

.y-request{
	width:90%;
	margin-left: auto ;
  	margin-right: auto ;
  	border:solid 1px #aaaaaa;
  	padding:5px;
} 


table, tr{
	width:100%;
}

td{
	padding:1px;
}

.photo{
	width:20%;
	text-align: center;
}

.user{
	width:20%;
}

.friend-status{
	width:8%;
}

.title-tags{
	width:40%;
}

.date{
	width:8%;
}

.delete{
	width:12%;
	/*text-align: right;*/
	text-align:center;
	vertical-align: middle;
}


.label-bar{
	text-align:left;
	margin-bottom:10px;
	font-size:12px;
}


.title{
	font-style: italic;
}

.checkRemove{
	height: 78px;
	text-align: center;
	margin: -8px 0px -8px 8px;
}

.yesDelete{
	width:50%;
	background-color:red;
}

.noDelete{
	width:50%;
	background-color:#FFCC11;
}


.tab.clicked {
	color: #000;
	background-color:#fff;
	height: 200%;
}

.clicked{
	background-color:#fff;
	height:100%;
	position: relative;
	z-index: 1;
}

